@charset "UTF-8";

@font-face {
  font-family: "pixel-editor";
  src:url("fonts/pixel-editor.eot");
  src:url("fonts/pixel-editor.eot?#iefix") format("embedded-opentype"),
    url("fonts/pixel-editor.woff") format("woff"),
    url("fonts/pixel-editor.ttf") format("truetype"),
    url("fonts/pixel-editor.svg#pixel-editor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pixel-editor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pixel-editor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-active-color-icon:before {
  content: "\e000";
}
.icon-undo-icon:before {
  content: "\e001";
}
.icon-trash-icon:before {
  content: "\e002";
}
.icon-save-icon:before {
  content: "\e003";
}
.icon-redo-icon:before {
  content: "\e004";
}
.icon-paintbucket-icon:before {
  content: "\e005";
}
.icon-paintbrush-icon:before {
  content: "\e006";
}
.icon-login-icon:before {
  content: "\e008";
}
.icon-eraser-icon:before {
  content: "\e009";
}
.icon-dropper-icon:before {
  content: "\e00a";
}
.icon-default-color-icon:before {
  content: "\e00b";
}
.icon-zoom-out-icon:before {
  content: "\e00c";
}
.icon-zoom-in-icon:before {
  content: "\e00d";
}
.icon-settings-icon:before {
  content: "\e00f";
}
.icon-logout-icon:before {
  content: "\e00e";
}
.icon-open-icon:before {
  content: "\e007";
}
