@charset "UTF-8";

@font-face {
  font-family: "pixel-editor";
  src:url("fonts/pixel-editor.eot");
  src:url("fonts/pixel-editor.eot?#iefix") format("embedded-opentype"),
    url("fonts/pixel-editor.woff") format("woff"),
    url("fonts/pixel-editor.ttf") format("truetype"),
    url("fonts/pixel-editor.svg#pixel-editor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pixel-editor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pixel-editor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-active-color:before {
  content: "\e000";
}
.icon-trash:before {
  content: "\e002";
}
.icon-save:before {
  content: "\e003";
}
.icon-paint-bucket:before {
  content: "\e005";
}
.icon-login:before {
  content: "\e008";
}
.icon-eraser:before {
  content: "\e009";
}
.icon-dropper:before {
  content: "\e00a";
}
.icon-default-color:before {
  content: "\e00b";
}
.icon-zoom-in:before {
  content: "\e00d";
}
.icon-settings:before {
  content: "\e00f";
}
.icon-logout:before {
  content: "\e00e";
}
.icon-open:before {
  content: "\e007";
}
.icon-undo:before {
  content: "\e004";
}
.icon-zoom-out:before {
  content: "\e006";
}
.icon-paintbrush:before {
  content: "\e00c";
}
.icon-redo:before {
  content: "\e010";
}
.icon-dragger:before {
  content: "\e001";
}
